.base{
 flex-direction: row;
}

.base__title{
  border-radius: 5px 0 0 5px;
}

.base__title > p{
  margin-top: 24px;
}

.base__body{
  padding: 8px 12px;
  flex: 0 0 65%;
}

.base__body-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.base__body-value{
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.5px;
  height: 30px;
}

.base__body-input-value{
  color: #495057;
  background-color: #fff;
  border-radius: .25rem;
  width: 40%;
  border: 1px solid rgba(0,0,0,0.1); 
  box-shadow: none;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 12px;
  outline: none;
}

.base__body-currency{
  font-size: 16px;
}