.add{
  flex-direction: row-reverse;
}

.add__title{
  border-radius: 0 5px 5px 0;
}

.add__title > p{
  margin-top: 28px;
}

.add__body{
  padding: 8px 12px;
  flex: 0 0 65%;
  text-align: center;
  align-self: center;
}

.add__body-select{
  color: #495057;
  background-color: #fff;
  border-radius: .25rem;
  width: 52%;
  border: 1px solid rgba(0,0,0,0.1); 
  box-shadow: none;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 12px;
  outline: none;
  height: 30px;
  margin-right: 10px;
}